* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

div {
    padding: 10px;
}

div > div {
    width: 500px
}

header {
    padding: 15px;
    background-color: red;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-btn {
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    font-weight: bold;
}

.menu > p {
    margin-left: 20px;
    margin-bottom: 20px;
}

.contact {
    text-align: center;
}

.contact > h3 {
    margin-bottom: 5px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 40px;
}

body, #content {
    background-color: orange;
}

#info-div > p {
    margin-bottom: 5px;
}

#hours-div, #location-div {
    text-align: center;
}

#slogan {
    font-weight: bold;
    font-style: italic;
}